<div class="container px-5 px-sm-0">
  <div class="row">
  <div class= "col-md-3">
    <h2>User info</h2>


    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" ,format: 'no_image.jpg' %>
    <h5>name</h5>
    <%= @user.name %>
    <h5>introduction</h5>
    <%= @user.introduction %>
    <%= link_to"",edit_user_path(@user.id), class: "col-xs-12 btn btn-outline-secondary btn-block fas fa-user-cog" %>


    <h2>New book</h2>
     <%= render 'books/book', book: @book %>
  </div>



  <div class= "col-md-8 offset-md-1">
   <h2>Books</h2>
   <table class='table table-hover table-inverse'>

   <tr>
     <th></th>
   <th>Title</th>
   <th>Opinion</th>
   <th colspan="3"></th>
   </tr>

   <% @books.each do |book| %>
  <%= link_to user_path(@user.id) do %>
   <tr>
   <td><%= attachment_image_tag book.user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg",format: 'no_image.jpg' %></td>
   <% end %>
   <td><%=link_to book.title, book_path(book.id)%></td>
   <td><%= book.body %></td>
   </tr>
   <% end %>
   </table>

  </div>
</div>



